@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-serif: var(--font-serif);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  
  --color-border: var(--border);
}

@layer base {
  :root {
    --background: oklch(1 0 0); /* White */
    --foreground: oklch(0.145 0 0); /* Neutral 900 */
    
    --muted: oklch(0.97 0 0); /* Neutral 100 */
    --muted-foreground: oklch(0.556 0 0); /* Neutral 500 */
    
    --secondary: oklch(0.97 0 0); /* Neutral 100 */
    --secondary-foreground: oklch(0.145 0 0); /* Neutral 900 */
    
    --accent: oklch(0.623 0.214 259.815); /* Blue 500 */
    --accent-foreground: oklch(0.985 0 0); /* White */
    
    --border: oklch(0.922 0 0); /* Neutral 200 */
  }

  .dark {
    --background: oklch(0.145 0 0); /* Neutral 900 (slightly lighter than black for softness) */
    --foreground: oklch(0.985 0 0); /* Neutral 50 */
    
    --muted: oklch(0.269 0 0); /* Neutral 800 */
    --muted-foreground: oklch(0.708 0 0); /* Neutral 400 */
    
    --secondary: oklch(0.269 0 0); /* Neutral 800 */
    --secondary-foreground: oklch(0.985 0 0); /* Neutral 50 */
    
    --accent: oklch(0.707 0.165 254.624); /* Blue 400 */
    --accent-foreground: oklch(0.145 0 0); /* Neutral 900 */
    
    --border: oklch(0.269 0 0); /* Neutral 800 */
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  font-feature-settings: "rlig" 1, "calt" 1;
}



